.idea/
*.egg-info/
__pycache__/
.ipynb_checkpoints/
.vscode/
log/trainingvals/1.csv
log/trainingvals/2.csv
log/trainingvals/3.csv
log/trainingvals/4.csv
lightning_logs/version_0/hparams.yaml
lightning_logs/version_0/checkpoints/epoch=2-step=191.ckpt
lightning_logs/version_1/hparams.yaml
lightning_logs/version_1/checkpoints/epoch=2-step=191.ckpt
lightning_logs/version_2/hparams.yaml
lightning_logs/version_2/checkpoints/epoch=2-step=191.ckpt
log/default/version_10/events.out.tfevents.1645623487.beef2142f462.1.0
log/default/version_10/hparams.yaml
log/default/version_11/events.out.tfevents.1645625791.7d8fb519eabd.1.0
log/default/version_11/hparams.yaml
log/default/version_12/events.out.tfevents.1645628054.1407b6a94302.1.0
log/default/version_12/hparams.yaml
log/default/version_13/events.out.tfevents.1645628082.3a649706458b.1.0
log/default/version_13/hparams.yaml
log/default/version_14/events.out.tfevents.1645628114.06687b3b22d6.1.0
log/default/version_14/hparams.yaml
log/default/version_15/events.out.tfevents.1645628151.0b035bb072cb.1.0
log/default/version_15/hparams.yaml
log/default/version_16/events.out.tfevents.1645628282.3e9ea10a13d5.1.0
log/default/version_16/hparams.yaml
log/default/version_17/events.out.tfevents.1645628468.d39d86e32cb6.1.0
log/default/version_17/hparams.yaml
log/default/version_18/events.out.tfevents.1645628508.b051e542805b.1.0
log/default/version_18/hparams.yaml
log/default/version_19/events.out.tfevents.1645628529.bbb893ac8157.1.0
log/default/version_19/hparams.yaml
log/default/version_20/events.out.tfevents.1645628557.ceac4c47ec7d.1.0
log/default/version_20/hparams.yaml
log/default/version_8/events.out.tfevents.1645550632.adc08b3545e5.1.0
log/default/version_8/hparams.yaml
log/default/version_9/events.out.tfevents.1645555167.239d8369a9e0.1.0
log/default/version_9/hparams.yaml
diagnose_tensorboard.py
lightning_logs/version_0/hparams.yaml
lightning_logs/version_0/checkpoints/epoch=2-step=191.ckpt
lightning_logs/version_1/hparams.yaml
lightning_logs/version_1/checkpoints/epoch=2-step=191.ckpt
lightning_logs/version_2/hparams.yaml
lightning_logs/version_2/checkpoints/epoch=2-step=191.ckpt
learn.tar
